.fondoDashboard {
    background: #004FF9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5223d3, #075df0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5223d3, #075df0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.fondoPagina {
    background: #e9ecf3;
}

.texto-azul {
    color: #006CFF;
}

.tinyFont {
    font-size: 7px;
}